


#myvideo{
position: fixed;
resize: 0;
bottom: 0;
min-height: 100%;
min-width: 100%;
}
.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.btn {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
  
}

.btn:hover {
  background-color: black;
  color: white;
}
.video {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 background: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
 
}

.video:hover {
  background-color: black;
  color: white;
}
